<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="mb-4">Results</h1>
    <p class="fs-4"><strong>You submitted:</strong> <%= @word %></p>
    <%= link_to "Play again", new_path, class: "btn btn-primary mt-3" %>
  </div>
</div>
